.chat {
  flex: 2;
  border-left: var(--border-default);
  border-right: var(--border-default);
  height: 100%;
  display: flex;
  flex-direction: column;

  .chat-top {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border-default);

    .chat-top__user {
      display: flex;
      align-items: center;
      gap: 2rem;

      .chat-top__texts {
        display: flex;
        flex-direction: column;

        .chat-top__user-name {
          font-size: 1.8rem;
          font-weight: 700;
        }

        .chat-top__user-email {
          font-size: 1.4rem;
          font-weight: 300;
          color: var(--color-gray-light);
        }
      }
    }

    .chat-top__icons {
      display: flex;
      gap: 2rem;

      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }
  }

  .chat-center {
    overflow-x: hidden;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;

    .chat-center__message-container {
      max-width: 70%;
      display: flex;
      gap: 2rem;
      align-self: start;

      .chat-center__texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .chat-center__img {
          align-self: end;
          border-radius: var(--border-radius-sm);
          object-fit: cover;
        }

        .chat-center__message {
          padding: 2rem;
          background-color: rgba(var(--color-main), 0.3);
          border-radius: var(--border-radius-sm);
        }
        .chat-center__timestamp {
          font-size: 1.2rem;
        }
      }

      &.chat-center__message-container--own {
        align-self: end;

        .chat-center__message {
          background-color: var(--color-violet-light-1);
        }
        .chat-center__timestamp {
          text-align: right;
        }
      }
    }
  }

  .chat-bottom {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: var(--border-default);
    gap: 2rem;

    form {
      display: contents;
    }

    .chat-bottom__icons {
      display: flex;
      gap: 2rem;
      position: relative;

      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }

    .chat-bottom__input {
      flex: 1;
      background-color: rgba(var(--color-main), 0.5);
      border: none;
      outline: none;
      color: var(--color-white);
      padding: 2rem;
      border-radius: var(--border-radius-sm);
      font-size: 1.6rem;

      &:disabled {
        background-color: #5182feb4;
        cursor: not-allowed;
      }
    }
  }
}
