.chat {
  flex: 2;
  border-left: var(--border-default);
  height: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 600px) {
    position: fixed;
    inset: 0;
    background: var(--color-main-bg-full);
    border-left: none;
  }

  .chat-top {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border-default);

    @media screen and (max-width: 600px) {
      padding: 1rem;
    }

    .chat-top__user {
      display: flex;
      align-items: center;
      gap: 2rem;

      @media screen and (max-width: 600px) {
        gap: 1.5rem;

        img {
          width: 5rem !important;
          height: 5rem !important;
        }
      }

      .chat-top__texts {
        display: flex;
        flex-direction: column;

        .chat-top__user-name {
          font-size: 1.8rem;
          font-weight: 700;

          @media screen and (max-width: 600px) {
            font-size: 1.6rem;
          }
        }

        .chat-top__user-email {
          font-size: 1.4rem;
          font-weight: 300;
          color: var(--color-gray-light);

          @media screen and (max-width: 600px) {
            font-size: 1.2rem;
          }
        }
      }
    }

    .chat-top__icons {
      display: flex;
      gap: 2rem;

      @media screen and (max-width: 600px) {
        gap: 1.5rem;
      }

      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }

      .chat-top__icons--details {
        display: none;

        @media screen and (max-width: 1400px) {
          display: block;
        }
      }
    }
  }

  .chat-center {
    overflow-x: hidden;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;

    @media screen and (max-width: 600px) {
      padding: 1rem;
    }

    .chat-center__message-container {
      max-width: 70%;
      display: flex;
      gap: 2rem;
      align-self: start;

      .chat-center__texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @media screen and (max-width: 600px) {
          gap: 0.25rem;
        }

        .chat-center__file {
          display: flex;
          align-items: center;
          gap: 1rem;

          span {
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: var(--border-radius-sm);
            padding: 0.25rem 0.75rem;
            font-size: 1.4rem;

            @media screen and (max-width: 600px) {
              font-size: 1.2rem;
            }
          }

          @media screen and (max-width: 600px) {
            img {
              width: 3rem;
              height: 3rem;
            }
          }
        }

        .chat-center__attached {
          align-self: flex-start;
          border-radius: var(--border-radius-sm);
          object-fit: cover;
          cursor: pointer;

          @media screen and (max-width: 600px) {
            height: 6rem;
          }
        }

        .chat-center__message {
          padding: 2rem;
          background-color: var(--color-message);
          border-radius: var(--border-radius-sm);

          @media screen and (max-width: 600px) {
            padding: 0.5rem 1.5rem;
            font-size: 1.4rem;
          }
        }
        .chat-center__timestamp {
          font-size: 1.2rem;

          @media screen and (max-width: 600px) {
            font-size: 1.1rem;
          }
        }
      }

      &.chat-center__message-container--own {
        align-self: end;

        .chat-center__attached {
          align-self: flex-end;
        }

        .chat-center__message {
          background-color: var(--color-message-own);
        }
        .chat-center__timestamp {
          text-align: right;
        }

        .chat-center__file {
          justify-content: flex-end;
        }
      }
    }
  }

  .chat-bottom {
    border-top: var(--border-default);

    .chat-bottom__file-preview {
      padding: 1.5rem 2rem;
      border-bottom: var(--border-dashed);
      display: flex;
      align-items: center;
      gap: 2rem;

      @media screen and (max-width: 600px) {
        padding: 1rem 1.5rem;
        gap: 1rem;
        font-size: 1.4rem;

        img {
          height: 3rem;
        }
      }

      .chat-bottom__file-name {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 0.25rem 0.75rem;
        border-radius: var(--border-radius-sm);
        font-size: 1.4rem;
        margin-left: -1rem;

        @media screen and (max-width: 600px) {
          padding: 0.2rem 0.5rem;
          font-size: 1.3rem;
          margin-left: 0;
        }
      }

      .chat-bottom__img-close {
        margin-left: auto;
        cursor: pointer;

        @media screen and (max-width: 600px) {
          height: 1.5rem;
        }
      }
    }

    form {
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      @media screen and (max-width: 600px) {
        padding: 1.5rem 1rem;
        gap: 1rem;

        button {
          padding: 0.75rem 1.25rem !important;
        }
      }
    }

    .chat-bottom__icons {
      display: flex;
      gap: 2rem;
      position: relative;

      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;

        @media screen and (max-width: 600px) {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    .chat-bottom__input {
      flex: 1;
      background-color: var(--color-input);
      border: none;
      outline: none;
      color: var(--color-white);
      padding: 2rem;
      border-radius: var(--border-radius-sm);
      font-size: 1.6rem;

      @media screen and (max-width: 800px) {
        flex: auto;
        width: 20rem;
      }
      @media screen and (max-width: 600px) {
        padding: 1rem;
        font-size: 1.4rem;
      }

      &:disabled {
        background-color: var(--color-gray);
        cursor: not-allowed;
      }
    }
  }
}
