.chat {
  flex: 2;
  border-left: var(--border-default);
  height: 100%;
  display: flex;
  flex-direction: column;

  .chat-top {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border-default);

    .chat-top__user {
      display: flex;
      align-items: center;
      gap: 2rem;

      .chat-top__texts {
        display: flex;
        flex-direction: column;

        .chat-top__user-name {
          font-size: 1.8rem;
          font-weight: 700;
        }

        .chat-top__user-email {
          font-size: 1.4rem;
          font-weight: 300;
          color: var(--color-gray-light);
        }
      }
    }

    .chat-top__icons {
      display: flex;
      gap: 2rem;

      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }
  }

  .chat-center {
    overflow-x: hidden;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;

    .chat-center__message-container {
      max-width: 70%;
      display: flex;
      gap: 2rem;
      align-self: start;

      .chat-center__texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .chat-center__file {
          display: flex;
          align-items: center;
          gap: 1rem;

          span {
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: var(--border-radius-sm);
            padding: 0.25rem 0.75rem;
            font-size: 1.4rem;
          }
        }

        .chat-center__attached {
          align-self: end;
          border-radius: var(--border-radius-sm);
          object-fit: cover;
          cursor: pointer;
        }

        .chat-center__message {
          padding: 2rem;
          background-color: var(--color-message);
          border-radius: var(--border-radius-sm);
        }
        .chat-center__timestamp {
          font-size: 1.2rem;
        }
      }

      &.chat-center__message-container--own {
        align-self: end;

        .chat-center__message {
          background-color: var(--color-message-own);
        }
        .chat-center__timestamp {
          text-align: right;
        }
      }
    }
  }

  .chat-bottom {
    border-top: var(--border-default);

    .chat-bottom__file-preview {
      padding: 1.5rem 2rem;
      border-bottom: var(--border-dashed);
      display: flex;
      align-items: center;
      gap: 2rem;

      .chat-bottom__file-name {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 0.25rem 0.75rem;
        border-radius: var(--border-radius-sm);
        font-size: 1.4rem;
        margin-left: -1rem;
      }

      .chat-bottom__img-close {
        margin-left: auto;
        cursor: pointer;
      }
    }

    form {
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
    }

    .chat-bottom__icons {
      display: flex;
      gap: 2rem;
      position: relative;

      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }

    .chat-bottom__input {
      flex: 1;
      background-color: var(--color-input);
      border: none;
      outline: none;
      color: var(--color-white);
      padding: 2rem;
      border-radius: var(--border-radius-sm);
      font-size: 1.6rem;

      @media screen and (max-width: 800px) {
        flex: auto;
        width: 20rem;
      }

      &:disabled {
        background-color: var(--color-gray);
        cursor: not-allowed;
      }
    }
  }
}
