.chat {
  flex: 2;
  border-left: #dddddd35 1px solid;
  border-right: #dddddd35 1px solid;
  height: 100%;
  display: flex;
  flex-direction: column;

  .chat-top {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #dddddd35 1px solid;

    .chat-top__user {
      display: flex;
      align-items: center;
      gap: 2rem;

      .chat-top__avatar {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        /* object-fit: cover; */
      }

      .chat-top__texts {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .chat-top__user-name {
          font-size: 1.8rem;
          font-weight: 700;
        }

        .chat-top__user-description {
          font-size: 1.4rem;
          font-weight: 300;
          color: #a5a5a5;
        }
      }
    }

    .chat-top__icons {
      display: flex;
      gap: 2rem;

      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .chat-center {
    flex: 1;
  }

  .chat-bottom {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: #dddddd35 1px solid;
    gap: 2rem;

    .chat-bottom__icons {
      display: flex;
      gap: 2rem;
      position: relative;

      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }

    .chat-bottom__input {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      border: none;
      outline: none;
      color: #fff;
      padding: 2rem;
      border-radius: 1rem;
      font-size: 1.6rem;
    }

    .chat-bottom__emoji-picker {
      position: absolute;
      bottom: 5rem;
      left: 0;
    }

    .chat-bottom__send-button {
      background-color: #5183fe;
      color: #fff;
      padding: 1rem 2rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
}
