.details {
  flex: 1;
  overflow-x: hidden;
  min-width: 23rem;

  .details__user {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-bottom: var(--border-default);

    .details__email {
      font-size: 1.4rem;
      font-weight: 300;
      color: var(--color-gray-light);
      margin-bottom: 1rem;
    }
    .details__user-text {
    }
  }
  .details__info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .details__info-option {
      .details__info-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        img {
          background-color: rgba(var(--color-main), 0.3);
          width: 3rem;
          height: 3rem;
          padding: 0.5rem;
          border-radius: var(--border-radius-round);
        }
      }
      .details__images {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1rem;
        overflow: hidden;

        .details__images-item {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .details__images-container {
            position: relative;
            height: 5.5rem;
            cursor: pointer;

            img {
              height: 100%;
              border-radius: var(--border-radius-xs);
              object-fit: cover;
              aspect-ratio: 1 / 1;
              cursor: pointer;
            }

            .details__images-overlay {
              opacity: 0;
              position: absolute;
              inset: 0;
              background: rgba(0, 0, 0, 0.7) url("./download.svg") no-repeat
                center center;
              background-size: 3rem;
              z-index: 100;
              transition: opacity 0.2s var(--transition-easing);
            }

            &:hover {
              .details__images-overlay {
                opacity: 1;
              }
            }
          }
          .details__images-download {
            width: 3rem;
            height: 3rem;
            border-radius: var(--border-radius-round);
            background-color: rgba(var(--color-main), 0.3);
            padding: 1rem;
            cursor: pointer;
          }
        }
      }

      .details__files {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 1rem;

        .details__files-container {
          display: flex;
          align-items: center;
          gap: 1rem;

          img {
            height: 2.5rem;
          }
          span {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 0.25rem 0.75rem;
            border-radius: var(--border-radius-xs);
            font-size: 1.4rem;
          }
          .details__files-download {
            margin-left: auto;
            height: 3rem;
            padding: 0.75rem;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: var(--border-radius-sm);
            cursor: pointer;
          }
        }
      }
    }
    .details__info-block {
      padding: 1.5rem 2rem;
      background-color: rgba(var(--color-red), 0.7);
      color: var(--color-white);
      border: none;
      border-radius: var(--border-radius-xs);
      cursor: pointer;
      transition: var(--transition-bg-default);

      &:hover {
        background-color: rgba(var(--color-red), 0.9);
      }
    }
  }
}
