.start-message {
  flex: 2;
  border-left: var(--border-default);
  border-right: var(--border-default);
  height: 100%;
  display: flex;
  flex-direction: column;

  .start-message__container {
    padding: 8rem 5rem;

    h2 {
      margin-bottom: 3rem;
    }

    p {
      margin: 2rem 0 1rem;
    }
  }
}

.copyright {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.4rem;

  @media screen and (max-width: 1400px) {
    font-size: 1.1rem;
  }

  .copyright__container {
    padding: 2rem 3rem;
    text-align: right;
  }

  a {
    color: var(--color-white);
  }
}
