.list {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1050px) {
    flex: auto;
    max-width: 25rem;
  }

  @media screen and (max-width: 800px) {
    width: 30rem;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    max-width: 100%;
  }
}
