.user-info {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 2rem;

  h2 {
    font-size: 2rem;
  }
  p {
    color: var(--color-gray-light);
    font-size: 1.5rem;
  }
}

.icons {
  display: flex;
  gap: 1.5rem;

  img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}
