.user-info {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  @media screen and (max-width: 1200px) {
    padding: 1rem;
  }
}

.user {
  width: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (max-width: 1200px) {
    gap: 1.5rem;
  }

  h2 {
    font-size: 2rem;
  }
  p {
    color: var(--color-gray-light);
    font-size: 1.5rem;
  }

  @media screen and (max-width: 1200px) {
    h2 {
      font-size: 1.8rem;
    }
    p {
      color: var(--color-gray-light);
      font-size: 1.2rem;
    }
  }
}

.icons {
  width: 55px;
  display: flex;
  gap: 1.5rem;

  @media screen and (max-width: 1050px) {
    flex-direction: column;
    gap: 1rem;
    width: 20px;
  }

  img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    @media screen and (max-width: 1200px) {
      width: 1.75rem;
      height: 1.75rem;
    }

    @media screen and (max-width: 800px) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
