.chat-list {
  flex: 1;
  overflow-x: hidden;

  .search {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    .search__bar {
      flex: 1;
      background-color: rgba(var(--color-main), 0.5);
      display: flex;
      align-items: center;
      gap: 2rem;
      border-radius: var(--border-radius-sm);
      padding: 1rem;

      .search__input {
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--color-white);
        flex: 1;
        height: 2rem;
      }
      .search__icon {
        width: 2rem;
        height: 2rem;
      }
    }

    .search__add {
      width: 3.6rem;
      height: 3.6rem;
      background-color: rgba(var(--color-main), 0.5);
      padding: 1rem;
      border-radius: var(--border-radius-sm);
      cursor: pointer;
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    cursor: pointer;

    &:not(:last-of-type) {
      border-bottom: var(--border-default);
    }

    .item__avatar {
      width: 5rem;
      height: 5rem;
      border-radius: var(--border-radius-round);
      object-fit: cover;
    }
    .item__texts {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      span {
        font-weight: 500;
      }

      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
