.settings {
  position: absolute;
  inset: 0;
  background: var(--color-main-bg);
  backdrop-filter: blur(5px);
  padding: 3rem;
  transform: translateX(-100%);
  overflow-y: scroll;
  transition: transform 0.2s ease-out;

  &.settings--visible {
    transform: translateX(0);
  }

  .settings__close {
    position: absolute;
    top: 3.5rem;
    right: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 2.5rem;

    & > label {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-size: 1.4rem;
      }

      input {
        border: none;
        background-color: var(--color-input);
        padding: 1rem 1.5rem;
        color: var(--color-white);
        border-radius: var(--border-radius-xs);
      }
    }
  }
}
