.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  .login__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;

    .login__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      input {
        padding: 2rem;
        border: none;
        outline: none;
        background-color: rgba(var(--color-main), 0.6);
        color: var(--color-white);
        border-radius: var(--border-radius-xs);
      }
    }
    .login__avatar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      text-decoration: underline;
    }

    .login__button {
      width: 100%;
      padding: 2rem;
      border: none;
      background-color: var(--color-blue-light-1);
      color: var(--color-white);
      border-radius: var(--border-radius-xs);
      cursor: pointer;
      font-weight: 500;
      transition: var(--transition-bg-default);

      &:hover {
        background-color: var(--color-blue-light-2);
      }
      &:disabled {
        cursor: not-allowed;
        background-color: var(--color-gray);
      }
    }
  }
  .login__separator {
    height: 80%;
    width: 0.2rem;
    background-color: var(--color-border);
  }
}
