.avatar {
  border-radius: var(--border-radius-round);
  object-fit: cover;
  border: var(--color-border) 2px solid;
  aspect-ratio: 1/1;

  @media screen and (max-width: 1200px) {
    transform: scale(0.9);
    margin-right: -0.5rem;
  }

  @media screen and (max-width: 768px) {
    transform: scale(0.8);
    margin-right: -0.5rem;
  }
}
