* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/bg.jpg");
  font-size: 1.6rem;
  color: white;
}

.container {
  width: 80vw;
  height: 90vh;
  background: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border: rgba(255, 255, 255, 0.125) 1px solid;
  border-radius: 1rem;
  display: flex;
}
