* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --color-main: 17, 24, 39;
  --color-violet-1: #6d28d9;
  --color-violet-2: #7c3aed;
  --color-violet-light-1: #8b5cf6;
  --color-violet-light-2: #a78bfa;
  --color-unread: #8841ca;
  --color-red: 220, 38, 38;
  --color-white: #f3f4f6;
  --color-gray: #e5e7eb35;
  --color-gray-light: #a5a5a5;

  --border-default: var(--color-gray) 1px solid;
  --border-radius-xs: 0.5rem;
  --border-radius-sm: 1rem;
  --border-radius-round: 50%;

  --transition-easing: ease-out;
  --transition-bg-default: background-color 0.2s var(--transition-easing);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/bg.png") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--color-white);
}

.container {
  width: 80vw;
  height: 90vh;
  background-color: rgba(var(--color-main), 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border: rgba(255, 255, 255, 0.125) 1px solid;
  border-radius: var(--border-radius-sm);
  display: flex;
}

.loading {
  padding: 5rem;
  font-size: 3.6rem;
  border-radius: var(--border-radius-sm);
  background-color: rgba(var(--color-main), 0.9);
}

@media screen and (max-width: 1400px) {
  .container {
    width: 93vw;
    height: 95vh;
  }
}
