* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --color-red: 220, 38, 38;
  --color-white: #f3f4f6;
  --color-gray: #e5e7eb35;
  --color-gray-light: #a5a5a5;
  --color-border: #e5e7eb35;
  --color-chat-blocked: rgba(var(--color-red), 0.5);

  --color-main-bg: rgba(39, 20, 43, 0.85);
  --color-main-bg-full: rgb(39, 20, 43);
  --color-main-bg-light: rgba(39, 20, 43, 0.4);
  --color-input: #1c0e1f;
  --color-button: #a21caf;
  --color-button-hover: #c026d3;
  --color-message: #6e4576;
  --color-message-own: #946c93;
  --color-chat-active: rgba(162, 28, 175, 0.4);
  --color-chat-unread: rgba(162, 28, 175, 0.8);

  --color-main-bg-blue: rgba(19, 27, 42, 0.85);
  --color-main-bg-blue-full: rgb(19, 27, 42);
  --color-main-bg-light-blue: rgba(19, 27, 42, 0.4);
  --color-input-blue: #0e1520;
  --color-button-blue: #1d44af;
  --color-button-hover-blue: #275ad3;
  --color-message-blue: #465777;
  --color-message-own-blue: #6b7194;
  --color-chat-active-blue: rgba(29, 68, 175, 0.4);
  --color-chat-unread-blue: rgba(29, 68, 175, 0.8);

  --color-main-bg-orange: rgba(42, 24, 19, 0.85);
  --color-main-bg-orange-full: rgb(42, 24, 19);
  --color-main-bg-light-orange: rgba(42, 24, 19, 0.4);
  --color-input-orange: #20110e;
  --color-button-orange: #af461d;
  --color-button-hover-orange: #d35227;
  --color-message-orange: #775046;
  --color-message-own-orange: #947b6b;
  --color-chat-active-orange: rgba(175, 70, 29, 0.4);
  --color-chat-unread-orange: rgba(175, 70, 29, 0.8);

  --color-main-bg-green: rgba(20, 42, 19, 0.85);
  --color-main-bg-green-full: rgb(20, 42, 19);
  --color-main-bg-light-green: rgba(20, 42, 19, 0.4);
  --color-input-green: #0f200e;
  --color-button-green: #15841b;
  --color-button-hover-green: #1fa821;
  --color-message-green: #477746;
  --color-message-own-green: #6b9472;
  --color-chat-active-green: rgba(29, 175, 36, 0.4);
  --color-chat-unread-green: rgba(29, 175, 36, 0.8);

  --color-scheme-violet: var(--color-button);
  --color-scheme-blue: var(--color-button-blue);
  --color-scheme-orange: var(--color-button-orange);
  --color-scheme-green: var(--color-button-green);

  --border-default: var(--color-border) 1px solid;
  --border-dashed: var(--color-border) 2px dashed;
  --border-radius-xs: 0.5rem;
  --border-radius-sm: 1rem;
  --border-radius-round: 50%;

  --transition-easing: ease-out;
  --transition-bg-default: background-color 0.2s var(--transition-easing);
  --transition-transform-default: transform 0.2s var(--transition-easing);
}

/* Blue color scheme */
.color-scheme-blue {
  --color-main-bg: var(--color-main-bg-blue);
  --color-main-bg-full: var(--color-main-bg-blue-full);
  --color-main-bg-light: var(--color-main-bg-light-blue);
  --color-input: var(--color-input-blue);
  --color-button: var(--color-button-blue);
  --color-button-hover: var(--color-button-hover-blue);
  --color-message: var(--color-message-blue);
  --color-message-own: var(--color-message-own-blue);
  --color-chat-active: var(--color-chat-active-blue);
  --color-chat-unread: var(--color-chat-unread-blue);
}

/* Blue color scheme */
.color-scheme-orange {
  --color-main-bg: var(--color-main-bg-orange);
  --color-main-bg-full: var(--color-main-bg-orange-full);
  --color-main-bg-light: var(--color-main-bg-light-orange);
  --color-input: var(--color-input-orange);
  --color-button: var(--color-button-orange);
  --color-button-hover: var(--color-button-hover-orange);
  --color-message: var(--color-message-orange);
  --color-message-own: var(--color-message-own-orange);
  --color-chat-active: var(--color-chat-active-orange);
  --color-chat-unread: var(--color-chat-unread-orange);
}

/* Blue color scheme */
.color-scheme-green {
  --color-main-bg: var(--color-main-bg-green);
  --color-main-bg-full: var(--color-main-bg-green-full);
  --color-main-bg-light: var(--color-main-bg-light-green);
  --color-input: var(--color-input-green);
  --color-button: var(--color-button-green);
  --color-button-hover: var(--color-button-hover-green);
  --color-message: var(--color-message-green);
  --color-message-own: var(--color-message-own-green);
  --color-chat-active: var(--color-chat-active-green);
  --color-chat-unread: var(--color-chat-unread-green);
}

::selection {
  background-color: var(--color-message);
  color: var(--color-white);
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: var(--color-main-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--color-chat-active);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-chat-unread-violet);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--color-white);
  position: relative;
}

.bg-image {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/bg.png") no-repeat center center;
  background-size: cover;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.color-scheme-blue .bg-image {
  filter: hue-rotate(270deg);
}
.color-scheme-orange .bg-image {
  filter: hue-rotate(90deg);
}
.color-scheme-green .bg-image {
  filter: hue-rotate(180deg);
}

.container {
  width: 80vw;
  height: 90vh;
  background-color: var(--color-main-bg);
  backdrop-filter: blur(5px);
  border: rgba(255, 255, 255, 0.125) 1px solid;
  border-radius: var(--border-radius-sm);
  display: flex;
  position: relative;
  z-index: 100;
  overflow-x: hidden;
}

@media screen and (max-width: 1700px) {
  .container {
    width: 93vw;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    height: 95vh;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 100vw;
    height: 100vh;
    border-radius: none;
    border: none;
  }
}
