.add-user {
  position: absolute;
  inset: 0;
  width: max-content;
  height: max-content;
  margin: auto;
  padding: 3rem;
  background-color: rgba(var(--color-main), 0.8);
  border-radius: var(--border-radius-sm);
  animation: appear 0.2s ease-out forwards;

  .add-user__form {
    display: flex;
    gap: 2rem;

    input {
      padding: 2rem;
      border-radius: var(--border-radius-sm);
      border: none;
      outline: none;
      min-width: 30rem;
    }
  }

  .add-user__user {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .add-user__user-details {
      display: flex;
      align-items: center;
      gap: 2rem;

      .add-user__user-name {
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
