.add-user {
  position: absolute;
  inset: 0;
  width: max-content;
  height: max-content;
  margin: auto;
  padding: 3rem;
  background-color: var(--color-main-bg);
  border-radius: var(--border-radius-sm);
  animation: appear 0.2s ease-out forwards;

  .add-user__form {
    display: flex;
    gap: 2rem;

    input {
      padding: 2rem;
      border-radius: var(--border-radius-sm);
      border: none;
      outline: none;
      min-width: 30rem;
    }
  }

  .add-user__user {
    margin-top: 3rem;
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: var(--color-border) 2px dashed;

    .add-user__user-details {
      display: flex;
      align-items: center;
      gap: 2rem;

      .add-user__user-name {
        display: flex;
        flex-direction: column;

        & span:last-of-type {
          font-size: 1.4rem;
          color: var(--color-gray-light);
        }
      }

      &.add-user__user-added {
        opacity: 0.9;
        pointer-events: none;
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
